body::before{
    display: block;
    content: '';
    height: 60px;
}

.bootstrap-logo-dv img{
    display: block;
    width: 51%;
    margin: auto;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.matrix-fondo{
    background-image: url(/img/matrix_optimized.jpg);
    background-repeat: no-repeat;
}

.navbar{
    background-color: rgba(0,0,0,0.8) !important;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }

}

@media (max-width: 768px) {
    .lead{
        font-size: 1em;
    }
}